.home-page {

.circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ion-item {
  display: inline-block;
  width: 50% !important;
}

.addButton {
  margin: 10% 20% 10% 10%;
  padding-top: 10%;
  padding-bottom: 35%;
}

}
